@import url("../../fonts/HelveticaNeue/style.css");
@import url("../../fonts/Pacifico/style.css");
@import url("../../fonts/BebasNeue/style.css");
@import url("../../fonts/League Gothic/style.css");
@import url("../../fonts/Roboto/style.css");


.article{
    display:flex;
    flex-direction: column;
}
#list{
    position:relative;
    width:100%;
    min-height:30em;
    display:grid;
    justify-content:center;
    align-content:center;
    grid-template-columns:auto auto;
    grid-column-gap:40vw;
    place-items:center;
	background:url('../img/background.svg') repeat;
}
#enlist{
    display:flex;
    flex-direction: column;
    justify-content:center;
    position:relative;
    color:#f3f3f3;
    width:25vw;
    min-height:15vw;
    text-align:center;
}
#enlist>h2{
    font-family: "League Gothic";
    font-size:calc(2vw + 1em);
    font-weight:normal;
}
#enlist>p{
    font-family: "Roboto";
    font-size:calc(0.5vw + 1em);
}
#enlist>.blockMon{
    margin-top:1em;
    overflow:auto hidden;
    padding:0.2em;
    margin-bottom:1em;
    background-color: #4f4e4e;
    border: 1px solid #ddd;
    text-align: left;
}
#enlist>.blockMon>pre{
    font-family: "Roboto";
    font-size:calc(0.5vw + 1em);
    color: #ffffff;
}
#monitor{
    position: relative;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:20px;
    grid-auto-columns: minmax(2vw,auto);
    grid-auto-rows: 2rem;
    align-items: center;
    justify-content: center;
}
#monitor>.block{
    position:relative;
    color:#fff;
    display:flex;
    align-items:center;
    justify-content: center;
    height:2em;
    background-color:#837D7D;
    border:1px solid black;
    box-sizing: border-box;
    border-radius: 10px;
}
#monitor>.block:hover{
    background-color: #a89b9b;
    cursor: pointer;
}
.blockArt{
    margin:2vh 25vw;
}
.blockArt>.block{
    display:flex;
    flex-direction:column;
    margin: 5vh 0;
}
.blockArt>.block>h2{
    font-family:'League Gothic';
    margin:0 auto 1em;
    font-size:1.5em;
}
.blockArt>.block>.inblock{
    display:flex;
    flex-direction:row;
    align-items:center;
}
.blockArt>.block>.inblock>img{
    width:15vw;
}
.blockArt>.block>.inblock>span{
    font-family:'Roboto';
    margin:2em;
    font-size:1.2em;
}

#monitor.open{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:40px;
}

.navMon.open{
    position:fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width:100vw;
    height:100vh;
    overflow: hidden;
    display:grid;
    background-color:#4a4a4a;
    place-items:center;
    z-index: 9999999999999998;
}

.menu2 .menuToggle2{
    position: relative;
    top:0;
    right:0;
    width:1.875em;
    height:3.75em;
    border:1px solid rgba(255,255,255,0.25);
    cursor:pointer;
    display:none;
    align-items:center;
    justify-content:flex-start;
    padding: 0 23px;
}
.menu2 .menuToggle2:before{
    content:'';
    position:absolute;
    width:1.875em;
    height:2px;
    background:#ccc;
    transform: translateY(-8px);
    transition: 0.5s;
}
.menu2.open .menuToggle2:before{
    transform:rotate(-45deg);
    background:#ccc;
    width:1.25em;
}
.menu2 .menuToggle2:after{
    content:'';
    position:absolute;
    width:1.875em;
    height:2px;
    background:#ccc;
    transform: translateY(8px);
    transition: 0.5s;
    box-shadow: 0 -8px 0 #ccc;
}
.menu2.open .menuToggle2:after{
    transform:rotate(45deg);
    box-shadow:none;
    width:1.25em;
}

.menu2.open .menuToggle2{
    width:1.25em;
    height:3.25em;
}

.menu2.open{
    position:fixed;
    top:0;
    right:0;
    z-index:99999999999999999;
}

@media screen and (max-width: 75em){
    #monitor{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width: 68.75em) {
    #list{
        grid-column-gap: 20vw;
    }
	.blockArt>.block>.inblock>img{
		width:7.5em;
	}
}
@media screen and (max-width:34.375em) {
    #list{
        grid-column-gap: 10vw;
    }
    .blockArt{
        margin:2vh 15vw;
    }
    .blockArt>.block>.inblock img{
        width:6.5em;
    }
    .blockArt>.block>.inblock>span{
        margin:0;
    }
}
@media screen and (max-width:37.5em){
    #monitor{
        display:none;
    }
    .menu2 .menuToggle2{
        display:flex;
    }
    #enlist{
        width:55vw;
    }
}
@media screen and (max-width:25em){
    .blockArt>.block>.inblock{
        flex-direction: column;
    }
}